*/__pycache__

*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/
*.venv/

# ignore ouput files
output_files/

# Ignore log files
*.log
# Ignore database files
*.db
# Ignore compiled files
*.egg-info/
dist/   
build/
*.egg

